@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Öğrenci Paneli</h2>
        <p>Öğrenci ile ilgili kayıtları listeleme, yeni öğrenci ekleme, mevcut öğrenciyi silme veya seçilen öğrenci üzerinde
        güncelleme yapmak için butona tıklayabilirsiniz</p>
        <p><a class="btn btn-default" href="/Ogrenci/Index/">Öğrenci Paneline Git &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Yönetim Paneli</h2>
        <p>Yönetici ile ilgili yönetici kayıtlarını listeleme, yeni bir yönetici ekleme, mevcut yöneticiyi silme veya seçilen
        yönetici üzerinde güncelleme yapmak için butona tıklayabilirsiniz.</p>
        <p><a class="btn btn-default" href="/OkulYonetim/Index/">Yönetim Paneline Git &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Ders Paneli</h2>
        <p>Derslerle ilgili ders kayıtlarını listeleme, yeni bir ders ekleme, mevcut dersi silme veya seçilen ders üzerinde
        güncelleme yapmak için butona tıklayabilirsiniz.</p>
        <p><a class="btn btn-default" href="/Ders/Index/">Ders Paneline Git &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Öğrenci-Ders Paneli</h2>
        <p>Öğrenci-Ders ile ilgili kayıtları listeleme, yeni bir kayıt ekleme, mevcut kaydı silme veya seçilen kayıt üzerinde
        güncelleme yapmak için butona tıklayabilirsiniz.</p>
        <p><a class="btn btn-default" href="/OgrenciDers/Index/">Öğrenci-Ders Paneline Git &raquo;</a></p>
    </div>
</div>
